/* Load.css */

.Load {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  font-weight: bold;
  padding: 16px;
  background-color: #ffffff;
  /* background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../public/images/inha.jpg) center center; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* NotFound.css */

.NotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 36px;
  font-weight: bold;
  color: #3c5ee5;
  text-align: center;
}

/* Login.css */

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.LoginForm {
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.LoginTitle {
  font-size: 36px;
  color: #343a40;
  margin-bottom: 10px;
}

.LoginSubtitle {
  font-size: 18px;
  color: #6c757d;
  margin-bottom: 30px;
}

.LoginButton {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.GoogleButton,
.GuestButton {
  flex: 1;
}

.GoogleButton,
.GuestButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.GoogleButton {
  background-color: #4285f4;
  margin-right: 10px;
  color: #ffffff;
}

.GuestButton {
  background-color: #4caf50;
  margin-left: 7px;
  color: #ffffff;
}

.GoogleButton img {
  width: 24px;
  height: 24px;
  margin-right: 7px;
}

.GoogleButton:hover,
.GuestButton:hover {
  background-color: #3c79e6;
}

.LoginFooter {
  font-size: 13px;
}

/* Page.css */

.Page {
  /* display: flex;
  flex-direction: column; */
  min-width: 320px;
  align-items: center;
}
.Page > header {
  display: flex;
  width: 100%;
}
.Page > main {
  flex-grow: 1;
  margin: 8px 0;
  display: flex;
  justify-content: center;
}
.Page > footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}
